@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<input type="submit" href="Login.aspx" value="60 To another page" />
<p><a href="~/Login.aspx">~/Login.aspx</a>click here</p>
